:root{
    --fs-medium: clamp(1.1rem, 2vw + 0.1rem,1.44rem);
    --fs-small: clamp(0.95rem, 1.2vw + 0.1rem, 1.2rem);
    --fs-smallest: clamp(0.8rem, 1.2vw + 0.1rem, 1rem);


    --fw-bold: 700;
}
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
}
body{
    overflow-x: hidden;
    background: rgb(255,255,255);
    background: radial-gradient(90deg, rgba(255,255,255,1) 0%, rgba(223,223,223,1) 100%);
}
header{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%; 

    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(115,115,115,1) 100%);
    z-index: 999;
}
nav{
    display: flex;
    justify-content: space-between;
    width: min(95vw, 75rem); 
    margin-inline: auto;
    padding-block: 5px;
}
nav .content1, nav .content2{
    display: flex; 
    justify-content: start;
    align-items: center;
    width: 50%;
}
nav .content1 > img {
    height: 40px;
}
nav .content1 a {
    margin-inline-end: 40px;
}

nav .content1 p {
    margin-block: auto;
}
.content1 * {
    margin-right: 20px;
    font-weight: 600;
}

nav .content2 {
    justify-content: end;
}
nav .content2 a p {
    margin-block: auto;
    margin-inline-end: 7px;
    color: white;
}

main{
    margin-top: 80px;
    margin-inline: auto;
    width: min(95vw, 75rem);
}

.login-section{
    border-radius: 15px;
    padding: 0;
    background-color: grey;
}

/* LOGIN SECTION */
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
} 
@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

/* REGISTER SECTION */
.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

/* Seccion de abajo */
footer{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: min(95vw, 75rem); 
    margin-inline: auto;
    margin-block: 20px;
    border-radius: 10px;
    padding: 20px 0;
    background: rgb(205,18,85);
    background: linear-gradient(90deg, rgba(205,18,85,1) 0%, rgba(93,13,115,1) 100%);
}
footer p {
    margin: 0;
    color: white; 
    text-align: center;
    font-weight: 600;
}

/* Clases globales */
.box-shadow{
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 50px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);
}
.medium-font{
    font-size: var(--fs-medium);
}
.small-font{
    font-size: var(--fs-small);
}
.smallest-font{
    font-size: var(--fs-smallest);
}
.bold{
    font-weight: 600;
}
.karla-font{
    font-family: 'Karla', sans-serif;
}
.josefin-font{
    font-family: 'Josefin Sans', sans-serif;
}
.display_none{
    display: none;
}
/* ANIMACIONES */
.delated-fade-in{-webkit-animation:delated-fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) 1s both;animation:delated-fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) 1s both}
@-webkit-keyframes delated-fade-in{0%{opacity:0}100%{opacity:1}}@keyframes delated-fade-in{0%{opacity:0}100%{opacity:1}}

.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

.animated{-webkit-animation:flip-out-hor-top .45s cubic-bezier(.55,.085,.68,.53) both;animation:flip-out-hor-top .45s cubic-bezier(.55,.085,.68,.53) both}
/* ----------------------------------------------
 * Generated by Animista on 2023-7-8 3:25:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes flip-out-hor-top{0%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}100%{-webkit-transform:rotateX(70deg);transform:rotateX(70deg);opacity:0}}@keyframes flip-out-hor-top{0%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}100%{-webkit-transform:rotateX(70deg);transform:rotateX(70deg);opacity:0}}
.username{
    color: white;
    margin-block: auto;
    margin-inline-end: 8px;
    text-transform: uppercase;
    font-weight: 600;
}
/* Media Queries */
@media(max-width: 88em){
    .hero-container div{
        justify-content: start;
    }
}
@media(max-width: 810px){
    nav{
        width: min(100%, 24rem);
        padding-block: 12px;
    }
    nav .content1{
        width: 60%;
    }
    nav .content2{
        width: 40%;
    }
    nav .content1 a {
        margin-inline-end: 10px;
    }
    nav .content1 > img {
        display: none;
    }
    main{
        margin-block-start: 80px;
        width: min(100%, 24rem);
        flex-wrap: wrap;
        gap: 25px;
    }
    .description > .image{
        display: none;
    }
    .description > .content{
        width: 100%;
    }

    .shop-item{
        width: 150px;
        height: 225px;
    }
    
    footer{
        width: min(100%, 24rem);
    }

}